doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1
            .bloque1Grid
                .bloque1Container
                    .bloque1Left
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/background-wendy.webp", alt="")
                        .bloque1LeftLogo
                            img.bloque1LeftLogoImage(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/logo-black.webp", alt="")
                        .bloque1LeftTitle
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/shield_middle.webp", alt="")
                            h3 AMA LO QUE HACES 
                                br
                                | CON CAYETANO
                            h4 y <span>Wendy Ramos</span>
                    .bloque1Right
                        .bloque3Left.bloque3LeftDesktop
                            //- img.bloque1FormContentMobile1(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/shield-mobile-1.webp", alt="")
                            //- img.bloque1FormContentMobile2(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/shield-mobile-2.webp", alt="")
                            //- h4 ¡Cerramos Inscripciones!
                            .bloque1Form
                                .bloque1FormTitle
                                    h3 Agenda tu visita y 
                                        span vive la experiencia Cayetano
                                .bloque1FormDouble
                                    input(type="text" placeholder="Nombres*")
                                    input(type="text" placeholder="Apellidos*")
                                .bloque1FormDouble
                                    input(type="text" placeholder="Tipo de documento*")
                                    input.inputNumber(type="number" placeholder="Número de documento*" inputmode="numeric")
                                //- input(type="text" placeholder="Celular*")
                                //- input(type="text" placeholder="Correo electrónico*")
                                //- input(type="text" placeholder="Seleccionar horario de visita*")
                                //- input(type="text" placeholder="Seleccionar carrera*")
                                //- input(type="text" placeholder="¿Qué grado estás cursando en el colegio?*")
                                .bloque1TopFormContainer--terminos
                                    input(type="checkbox", name="")
                                    h3 Política de privacidad y términos de servicio.
                                .captcha
                                    #recap3503766000237491098.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                                    #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                                .bloque1FormButton
                                    button
                                        h3 Quiero más información
                .bloque2
                    .bloque2Container
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/visitas-guiadas-arrow.webp", alt="")
                        h3 Confirma tu 
                            span participación  
                            | ahora
                        
                        
        .bloque3
            .bloque3Container
                .bloque3Left
                    //- img.bloque1FormContentMobile1(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/shield-mobile-1.webp", alt="")
                    //- img.bloque1FormContentMobile2(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/shield-mobile-2.webp", alt="")
                    //- h4 ¡Cerramos Inscripciones!
                    .bloque1Form
                        .bloque1FormTitle
                            h3 Déjanos tus datos y vive la experiencia Cayetano
                        input(type="text" placeholder="Nombres*")
                        input(type="text" placeholder="Apellidos*")
                        input.inputNumber(type="number" placeholder="Número de documento*" inputmode="numeric")
                        input(type="text" placeholder="Celular*")
                        .bloque1TopFormContainer--terminos
                            input(type="checkbox", name="")
                            h3 Datos de tutores o padres.
                        //- input.tutorMobilInput(type="text" placeholder="Correo electrónico*")
                        //- input.tutorMobilInput(type="text" placeholder="Seleccionar horario de visita*")
                        //- input.tutorMobilInput(type="text" placeholder="Seleccionar carrera*")
                        //- input.tutorMobilInput(type="text" placeholder="¿Qué grado estás cursando en el colegio?*")
                        //- .bloque1TopFormContainer--terminos
                        //-     input(type="checkbox", name="")
                        //-     h3 ¿Irá un acompañante?.
                        //- input.AcomMobilInput(type="text" placeholder="Correo electrónico*")
                        //- input.AcomMobilInput(type="text" placeholder="Seleccionar horario de visita*")
                        //- input.AcomMobilInput(type="text" placeholder="Seleccionar horario de visita*")
                        .bloque1TopFormContainer--terminos
                            input(type="checkbox", name="")
                            h3 Política de privacidad y términos de servicio.
                        .captcha
                            #recap3503766000237491098.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                            #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                        .bloque1FormButton
                            button
                                h3 Quiero más información
                .bloque3Right
                    .bloque3RightTitle
                        h3 ¡Ya eres parte de la 
                            span universidad N.° 1 del Perú!
                        p Ven con tu familia o amigos y disfruta de una conferencia inspiradora con Wendy Ramos, donde reafirmarás tu pasión y vocación. Y al completar tu matrícula, llévate un exclusivo pack de bienvenida. ¡Te esperamos!
        .bloque4
            
                .bloque4Title
                    h3 Mira todo lo que hemos preparado para ti
                .bloque4Slider
                    .slider__container.swiper.mySwiper
                        .slider__grid.swiper-wrapper
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/focus.webp", alt="")
                                    h3 Talleres vivenciales
                                    p para que experimentes tu carrera.
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/gps.webp", alt="")
                                    h3 Tour guiado
                                    p para explorar tu futuro en nuestra universidad.
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/happy.webp", alt="")
                                    h3 Feria de actividades
                                    p para disfrutar al máximo.
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-pagination
        .bloque5
            .bloque5Container
                .bloque5ContainerInfo
                    .bloque5ContainerInfo--item
                        h3 Fecha 
                        h4 15 febrero
                    .bloque5ContainerInfo--item
                        h3 Horario
                        h4 9:00 a. m.
                    .bloque5ContainerInfo--item
                        h3 Lugar
                        h4 Campus Central
                .bloque5ContainerDirection
                    h4 Av. Honorio Delgado 430.
                        br
                        | San Martín de Porres
                .bloque5Button
                    button
                        h3 Quiero participar 
        footer
            .footerContainer
                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/logo-white.webp", alt="")
                h3 Campus Central:
                    br
                    | Av. Honorio Delgado 430
                    br
                    | Urb. Ingeniería, San Martín de Porres
        script(src="./js/script.js" async)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")